<doctype! html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Racer Nation | Events</title>
    <link rel="stylesheet" href="css/stylesheet2.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="index.html">
                <img src="images/logo3.png" alt="Racer Nation" width="95" height="95">
                </a>
                <a href="index.html">Home</a>
            </div>
            <nav>
                <a href="news.html">News</a>
                <a href="events.html">Events</a>
                <a href="leaderboard.html">Leaderboards</a>
                <a href="gallery.html">Gallery</a>
                <a href="merch.html">Shop</a>
                <a href="users.html">Sign In</a>
                <a href="contact.html">Contact Us</a>

            </nav>
        </div>
    </header>

        <div class="banner-area">
        
        </div>
        
        <div class="content-area">
            <div class="wrapper">
                <h2>2024 Racer Nation Road Racing</h2>                     
                <br>
                <h3>Address: 1320 Saginaw, Flint, MI, 48346</h3>
                <br>
                <h3>Phone: (123) 313-1320</h3>
                <br>
                <h3>Email: info@racernation.com</h3>
                
                <div class="content-p">           
                </div>
                
                <footer class = "bg-dark text-light text-center py-3">
                <a href="news.html">News</a>
                <a href="events.html">Events</a>
                <a href="leaderboard.html">Leaderboards</a>
                <a href="gallery.html">Gallery</a>
                <a href="merch.html">Shop</a>
                <a href="users.html">Sign In</a>
                <a href="contact.html">Contact Us</a>
                </footer>
            
            </div>
        </div>
    </div>
</body>
</html>
