<doctype! html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Racer Nation | Events</title>
    <link rel="stylesheet" href="css/stylesheet2.css">
</head>

<body>
    <div class="box-area">
        <header>
            <div class="wrapper">
                <div class="logo">
                  <a href="index.html">
                    <img src="images/logo3.png" alt="Racer Nation" width="95" height="95">
                    </a>
                  <a href="index.html">Home</a>
                </div>
                <nav>
                  <a href="news.html">News</a>
                  <a href="Events.html">Events</a>
                  <a href="leaderboard.html">Leaderboards</a>
                  <a href="Gallery.html">Gallery</a>
                  <a href="merch.html">Shop</a>
                  <a href="users.html">Sign In</a>
                  <a href="contact.html">Contact Us</a>

              </nav>
            </div>
        </header>

        <div class="banner-area">
        
        </div>
        
        <div class="content-area">
            <div class="wrapper">
                <h2>2024 Events Calender</h2>
                <h3>Join the community!</h3>
                
                <div class="col-md-4">
                  <label for="trackSelector" class="form-label">Select Track:</label>
                  <select class="form-select" id="trackSelector">
                      <option value="track1">Waterford Hills Road Racing</option>
                      <option value="track2">Auto City Speedway</option>
                      <option value="track3">GingerMan Raceway</option>
                      <option value="track4">M1 Concourse</option>
                  </select>
              </div>
              
                  <div class="content-p">
                    <div class="row">
                        <!--Calendar Section-->
                        <div class="col-md-8">

                          <div class="table-responsive">

                            <table  class="table table-striped table-dark">
                                <thead>
                                  <tr>
                                    <th scope="col">Event</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Registration</th>
                                    <th scope="col">Time</th>
                                  </tr>
                                </thead>
                                <tbody id="eventsTableBody">
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>

                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  <tr>
                                    <th scope="row"></th>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                  </tr>
                                  
                                </tbody>
                              </table>
                            </div>
                            <!--Bootstrap classes for styling and layout adjustments are clutch-->
                        </div>

                        <iframe id="mapIframe" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4981.7207013880015!2d-83.39576150441691!3d42.70856203866364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882497a38fc105a1%3A0xdca3c426a3d836e!2sWaterford%20Hills%20Road%20Racing!5e1!3m2!1sen!2sus!4v1713294684045!5m2!1sen!2sus"
                        width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                      </iframe>

                        <script>document.addEventListener('DOMContentLoaded', function () {
                          const trackSelector = document.getElementById('trackSelector');
                          var mapIframe = document.getElementById('mapIframe');
                          // Function to fetch data based on the selected track
                          function fetchData(selectedTrack) {
                              fetch(`http://localhost:3000/api/trackcal?track=${selectedTrack}`)
                                  .then(response => {
                                      if (!response.ok) {
                                          throw new Error('Network response was not ok');
                                      }
                                      return response.json();
                                  })
                                  .then(data => {
                                      // Update the table in the HTML with the new data
                                      const eventsTableBody = document.getElementById('eventsTableBody');
                                      eventsTableBody.innerHTML = ''; // Clear the table rows
                       
                                      data.forEach(event => {
                                          const row = document.createElement('tr');
                                          row.innerHTML = `
                                              <th scope="row">${event.eventname}</th>
                                              <td>${event.eventdate}</td>
                                              <td>${event.registration}</td>
                                              <td>${event.eventtime}</td>
                                          `;
                                          eventsTableBody.appendChild(row);
                                      });
                                  })
                                  .catch(error => {
                                      console.error('Theres an issue with the fetch :', error);
                                  });
                          }
                       
                          // Fetch data for the default selection as soon as the page loads
                          fetchData(trackSelector.value);
                       
                          // Add an event listener to detect selection change
                          trackSelector.addEventListener('change', function () {
                              // Fetch data for the new selection
                              fetchData(trackSelector.value);
                      
                              // Assuming you have a predefined list of racetrack URLs
                          var racetrackUrls = {
                              'track1': 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4981.7207013880015!2d-83.39576150441691!3d42.70856203866364!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x882497a38fc105a1%3A0xdca3c426a3d836e!2sWaterford%20Hills%20Road%20Racing!5e1!3m2!1sen!2sus!4v1713294684045!5m2!1sen!2sus',
                              'track2': 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2508.0670579357584!2d-83.70147526898108!3d43.15534627017501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8823858af2674a6d%3A0xec9de326ecdc0053!2sAuto%20City%20Speedway!5e1!3m2!1sen!2sus!4v1713294803298!5m2!1sen!2sus',
                              'track3': 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5529.850060812706!2d-86.13918688881134!3d42.40837358911352!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x881751326a832691%3A0xe924a8e2e82a20f8!2sGingerMan%20Raceway!5e1!3m2!1sen!2sus!4v1713294893732!5m2!1sen!2sus',
                              'track4': 'https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4985.004191515852!2d-83.28634814621381!3d42.62234476222727!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8824bf05ba098103%3A0x43f4e99e72e9a674!2sM1%20Concourse!5e1!3m2!1sen!2sus!4v1713294411556!5m2!1sen!2sus',
                              // add more racetracks here...
                          };
                      
                          // Update the iframe's src with the new URL
                          mapIframe.src = racetrackUrls[trackSelector.value];
                          
                          });
                      
                          
                       });</script>
                        
                    </div>
                </div>
                
                <footer class = "bg-dark text-light text-center py-3">
                    <p>&copy; 2024 Racer Nation Road Racing</p>
                    <p>Address: 1320 Saginaw, Flint, MI, 48346</p>
                    <p>Phone: (123) 313-1320</p>
                    <p>Email: info@racernation.com</p>
                    <!--Eventually add some social media links here-->

                </footer>
            
            </div>
        </div>
    </div>
    <br>
</body>
</html>