<doctype! html>
<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Racer Nation | Home</title>
    <link rel="stylesheet" href="css/stylesheet.css">
</head>

<body>
    <div class="box-area">
        <header>
            <div class="wrapper">
                <div class="logo">
                    <a href="index.html">
                    <img src="images/logo3.png" alt="Racer Nation" width="95" height="95">
                    </a>
                    <a href="index.html">Racer Nation</a>
                </div>
                <nav>
                    <a href="news.html">News</a>
                    <a href="events.html">Events</a>
                    <a href="leaderboard.html">Leaderboards</a>
                    <a href="gallery.html">Gallery</a>
                    <a href="merch.html">Shop</a>
                    <a href="users.html">Sign In</a>
                    <a href="contact.html">Contact Us</a>

                </nav>
            </div>
        </header>
        
        <div class="banner-area">
            <h2>Join the Nation,<br>Find your Location</h2>
        </div>

        <div class="content-area">
            <div class="wrapper">
                <div class="container">
                    <div class="row">
                        <div class="row">
                            <div class="col-sm my-3">
                                <a href="Events.html">
                                    <div class="image-button">
                                        <img src="images/trackbutton.png" class="img-fluid rounded" alt="Responsive image">
                                        <div class="text">Tracks</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm my-3">
                                <a href="#">
                                    <div class="image-button">
                                        <img src="images/contactbutton.jpg" class="img-fluid rounded" alt="Responsive image">
                                        <div class="text">Contact</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm my-3">
                                <a href="Gallery.html">
                                    <div class="image-button">
                                        <img src="images/Gallerybutton.jpg" class="img-fluid rounded" alt="Responsive image">
                                        <div class="text">Gallery</div>
                                    </div>
                                </a>
                            </div>
                            <div class="col-sm my-3">
                                <a href="merch.html">
                                    <div class="image-button">
                                        <img src="images/shopbutton.jpg" class="img-fluid rounded" alt="Responsive image">
                                        <div class="text">Shop</div>
                                    </div>
                                </a>
                            </div>
                    </div>
                </div>
                
                <div class="about">
                    <h2><a href="about.html">About Us</a></h2>
                </div>
                
                <div class="content-p">
                    <p>Welcome to your first and last stop for competetive leaderboards and track bookings in your area. 
                    Racer Nation is designed to give you responsiveness, clarity, and accuracy for your next race, all in one place. 
                    Here, you can book a track time, see avaliable times, browse our gallery, and view Racer Nation news and events. 
                    We hope to add more features in the future! We hope you enjoy your time with us, and please feel free to explore.</p>
                </div>
                
                <footer class = "bg-dark text-light text-center py-3">
                    <p>&copy; 2024 Racer Nation Road Racing</p>
                    <p>Address: 1320 Saginaw, Flint, MI, 48346</p>
                    <p>Phone: (123) 313-1320</p>
                    <p>Email: info@racernation.com</p>
                    <!--Eventually add some social media links here-->
                </footer>
            
            </div>
        </div>
    </div>
</body>
</html>

    


