<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <title>Racer Nation | Events</title>
    <link rel="stylesheet" href="css/stylesheet2.css">
</head>

<body>
    <header>
        <div class="wrapper">
            <div class="logo">
                <a href="index.html">
                <img src="images/logo3.png" alt="Racer Nation" width="95" height="95">
                </a>
                <a href="index.html">Home</a>
            </div>
            <nav>
                <a href="news.html">News</a>
                <a href="Events.html">Events</a>
                <a href="leaderboard.html">Leaderboards</a>
                <a href="Gallery.html">Gallery</a>
                <a href="merch.html">Shop</a>
                <a href="users.html">Sign In</a>
                <a href="contact.html">Contact Us</a>

            </nav>
        </div>
    </header>

        <div class="banner-area">
        
        </div>
        
        <div class="content-area">
            <div class="wrapper">
                <h1>Welcome to the grand opening!</h1>
                <div class="content-p">
                <br>
                <h5>Many track events, races, and meetups to be held in the future!</h5>
                <br>
                <h5>New items added to the store!</h5>
                <br>
                <h5>Thank you for choosing the nation.</h5>
                <br>
                
                </div>
                
                <footer class = "bg-dark text-light text-center py-3">
                    <p>&copy; 2024 Racer Nation Road Racing</p>
                    <p>Address: 1320 Saginaw, Flint, MI, 48346</p>
                    <p>Phone: (123) 313-1320</p>
                    <p>Email: info@racernation.com</p>
                    <!--Eventually add some social media links here-->
                </footer>
            
            </div>
        </div>
    </div>
</body>
</html>